.container {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-content: flex-start;
}

.header {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 48px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 8px 24px;
	box-sizing: border-box;
	z-index: 9;
}

.author {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 32px;
	font-weight: 600;
	user-select: none;
	letter-spacing: 8px;
	text-decoration: none;
	color: var(--primary-color);
	font-family: "juviya";
}

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 21px;
	user-select: none;
	letter-spacing: 4px;
	color: var(--primary-color);
	text-decoration: none;
	font-family: "bqgd";
}

.buttonContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 8px;
}

.feedbackButton {
	display: flex;
	justify-content: center;
	align-items: center;
	user-select: none;
	cursor: pointer;
	padding: 4px 14px;
	transition: all 0.25s ease;
	border: 1px solid var(--primary-color);
	color: var(--primary-color);
	border-radius: 8px;
	text-decoration: none;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.feedbackButton:hover {
	background-color: var(--primary-color);
	color: var(--bg-color);
}

.startButton {
	display: flex;
	justify-content: center;
	align-items: center;
	user-select: none;
	cursor: pointer;
	padding: 4px 14px;
	transition: all 0.25s ease;
	text-decoration: none;
	border: 1px solid var(--primary-color);
	background-color: var(--primary-color);
	color: var(--bg-color);
	border-radius: 8px;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.startButton:hover {
	opacity: 0.8;
}

.introContainer {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	box-sizing: border-box;
	row-gap: 24px;
}

.introTextContainer {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-content: space-around;
	width: 100%;
}

.introText {
	width: 100%;
	text-align: center;
	font-size: 84px;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	user-select: none;
	font-weight: 300;
	color: var(--primary-color);
	opacity: 0;
}

.introTextStrong {
	font-weight: 600;
}

.introStart {
	position: absolute;
	bottom: 10%;
	width: 260px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	font-size: 24px;
	background-color: var(--primary-color);
	color: var(--bg-color);
	border-radius: 24px;
	font-family: "bqgd";
	letter-spacing: 2px; 
	opacity: 0;
}

.introStart::before {
	content: ">";
	position: absolute;
	left: -36px;
	font-size: 48px;
	color: var(--primary-color);
	font-family: "bqgd";
	opacity: 0;
	transition: opacity 0.25s ease-in;
}

.introStart::after {
	content: "<";
	position: absolute;
	right: -36px;
	font-size: 48px;
	color: var(--primary-color);
	font-family: "bqgd";
	opacity: 0;
	transition: opacity 0.25s ease-in;
}

.introStart:hover::before,
.introStart:hover::after {
	opacity: 1;
}
