.container {
	width: 100%;
	padding: 12px;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-content: flex-start;
}

.header {
	width: 100%;
	height: 48px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 8px 24px;
	box-sizing: border-box;
	z-index: 9;
}

.author {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 32px;
	font-weight: 600;
	user-select: none;
	letter-spacing: 8px;
	text-decoration: none;
	color: var(--primary-color);
	font-family: "juviya";
}

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 21px;
	user-select: none;
	letter-spacing: 4px;
	color: var(--primary-color);
	text-decoration: none;
	font-family: "bqgd";
}

.titleContainer {
	position: relative;
	width: 100%;
	padding: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.mainTitle {
	font-weight: 300;
	font-size: 32px;
	color: var(--primary-color);
	user-select: none;
	letter-spacing: 1px;
	font-family: "YouYuan", "Microsoft YaHei", "Arial", sans-serif;
}

.titleExplain {
	position: absolute;
	left: calc(50% + 140px);
}

.configContainer {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-content: flex-start;
	row-gap: 24px;
	box-sizing: border-box;
}

.topCheckboxContainer {
	position: sticky;
	top: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 8px;
	width: 80%;
	height: 48px;
	background-color: var(--bg-color);
	background-image: url("/img/texture.png");
	user-select: none;
	border-radius: 8px;
	z-index: 99;
}

.topCheckboxContainerTitle {
	font-size: 18px;
	font-weight: 300;
	color: var(--primary-color);
	user-select: none;
	letter-spacing: 1px;
	font-family: "YouYuan", "Microsoft YaHei", "Arial", sans-serif;
}

.dataContainer {
	width: 70%;
	padding: 8px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-content: flex-start;
	/* border: 1px solid var(--primary-color);
	border-radius: 4px; */
}

.topTitle {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	color: var(--primary-color);
	font-size: 21px;
	letter-spacing: 1px;
	user-select: none;
	font-family: "YouYuan", "Microsoft YaHei", "Arial", sans-serif;
}

.dataContentContainer {
	width: 100%;
	display: flex;
	padding: 16px;
	justify-content: flex-start;
	flex-wrap: wrap;
	align-content: flex-start;
	row-gap: 12px;
	box-sizing: border-box;
}

.inputContainer {
	display: flex;
	width: 50%;
	justify-content: center;
	flex-wrap: wrap;
	align-content: center;
	column-gap: 16px;
	row-gap: 8px;
}

.inputLabel {
	width: 20%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	font-size: 16px;
	font-weight: 300;
	user-select: none;
	font-family: "YouYuan", "Microsoft YaHei", "Arial", sans-serif;
}

.input {
	width: 280px;
	background-color: transparent;
	border-radius: 0;
	border-top: none;
	border-left: none;
	border-right: none;
}

.eduContainer {
	width: 100%;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-content: flex-start;
	row-gap: 16px;
}

.eduItemContainer {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	align-content: flex-start;
	row-gap: 8px;
}

.eduAddButton {
	width: 70%;
	height: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid var(--primary-color);
	color: var(--primary-color);
	border-radius: 32px;
	transition: background-color 0.25s ease, color 0.25s ease;
	cursor: pointer;
}

.eduDeleteButton {
	position: absolute;
	right: 0px;
	top: 8px;
	font-size: 18px;
	color: var(--primary-border-light);
	cursor: pointer;
	transition: color 0.25s ease;
}

.eduDeleteButton:hover {
	color: var(--primary-color);
}

.eduAddButton:hover {
	background-color: var(--primary-color);
	color: var(--bg-color);
}

.eduMainContainer {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-content: flex-start;
	row-gap: 8px;
}

.eduDivider {
	width: 100%;
	margin-top: 16px;
	border-bottom: 1px dashed var(--primary-border-light);
}

.buttonContainer {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 12px;
}

.saveButton {
	display: flex;
	justify-content: center;
	align-items: center;
	user-select: none;
	cursor: pointer;
	padding: 8px 24px;
	transition: all 0.25s ease;
	text-decoration: none;
	border: 1px solid var(--primary-color);
	background-color: transparent;
	color: var(--primary-color);
	border-radius: 8px;
	font-size: 18px;
	font-family: "YouYuan", "Microsoft YaHei", "Arial", sans-serif;
}

.saveButton:hover {
	background-color: var(--primary-color);
	color: var(--bg-color);
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	user-select: none;
	cursor: pointer;
	padding: 8px 24px;
	transition: all 0.25s ease;
	text-decoration: none;
	border: 1px solid var(--primary-color);
	background-color: var(--primary-color);
	color: var(--bg-color);
	border-radius: 8px;
	font-size: 18px;
	font-family: "YouYuan", "Microsoft YaHei", "Arial", sans-serif;
}

.button:hover {
	opacity: 0.8;
}
