:root {
	--bg-color: #f8f8f8;
	--primary-color: #222;
	--primary-border-light: rgba(0, 0, 0, 0.2);
}

* {
	margin: 0;
	padding: 0;
}

html,
body,
#root {
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: var(--bg-color);
	color: var(--primary-color);
}

#root {
	background-image: url("/img/texture.png");
}

@font-face {
	font-family: "juviya";
	src: url("/font/juviyademo-3lw5l.ttf");
}

@font-face {
	font-family: "bqgd";
	src: url("/font/basheqvintagedemoversionregular-ov13x.ttf");
}

/* 暂且不做移动适配 */
@media (max-width: 1540px) {
	html {
		min-width: 1920px;
	}
}

/* 也是没办法了 */
.ant-select-selector {
	border-radius: 0!important;
	border-top: none!important;
	border-left: none!important;
	border-right: none!important;
}
